body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
// li,
   a,
   p,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   i,
   b,
   textarea,
   input,
   select,
   figure,
   figcaption,
   {
       padding: 0;
       margin: 0;
       list-style: none;
       font-style: normal;
       text-decoration: none; // border: none;
       font-weight: normal;
       font-family: "Microsoft Yahei";
       box-sizing: border-box; // -webkit-tap-highlight-color: transparent;
   // -webkit-font-smoothing: antialiased;
// &:hover {
    //     outline: none;
    // }
}

// html {
   //     // font-size: 62.5%;
   // }
h5 {
    font-size: 16px
}

// 清除浮动
   .clearfix:before,
   .clearfix:after {
       display: table;
       content: " ";
   }

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.colorWeight {
    color: #333;
}

.colorLight {
    color: #666
}

.colorDark {
    color: #999
}

.colorEdit {
    color: #4782F3
}

.font20 {
    font-size: 20px;
}

.font14 {
    font-size: 14px;
}

.font24 {
    font-size: 24PX;
}

.dialog1 {
    border-radius: 8px;
.el-dialog--center {
    width: 450px !important;
}
}

.el-dialog {
.el-dialog__header {
    border-bottom: 6px rgba(241, 241, 241, 0.67) solid;
    font-size: 24px;
}
}

.dialog2 {
    width: 676px;
    border-radius: 12px;
    margin: 0 auto;
}

.el-button:not(.el-button--text):not(.button-cancel):not(.button.normal) {
    background: rgba(90, 143, 245, 0.8) !important;
    border: rgba(90, 143, 245, 1);
&:hover {
     background: rgba(90, 143, 245, 1) !important;
 }
&:before {
     background: rgba(90, 143, 245, 0.8);
&:hover {
     background: rgba(90, 143, 245, 1) !important;
 }
}
}

//提交按钮
  .button-submit {
      width: 90px;
      height: 32px;
      background: #5A8FF5 !important;
  // border-radius: 4px;
      margin: 0 auto;
      line-height: 32px;
      padding: 0 !important;
&:hover {
     opacity: 1;
     background: #3b7cf8 !important;
 }
span {
    color: #ffffff;
}
}

<<<<<<< .mine
        .button-number {
            width: 90px;
            height: 32px;
            margin: 0 auto;
            line-height: 32px;
            padding: 0 !important;
            border:1px solid #5a8ff5;
&:hover {
     opacity: 1;
     background: #ffffff !important;
     border:1px solid #5a8ff5;
 }
span {
    color: #3b7cf8;
}
}
=======
.md-right {
.button-submit {
    width: 90px;
    height: 28px;
    line-height: 28px;
}
}

>>>>>>> .r13800
.button-submit.el-button {
    background: #5A8FF5!important
}

//取消按钮
  .button-cancel {
      width: 120px;
      height: 32px;
      background: rgb(204, 204, 204) !important;
      border-radius: 4px;
      padding: 0 !important;
span {
    color: #666666;
}
&:hover {
     color: #333333 !important;
     border: none;
     opacity: 1;
 }
}

// 引导头部样式
   .layout-head {
       height: 54px;
       background: #fff;
       margin: 6px 0;
       line-height: 54px;
       vertical-align: middle;
       position: relative;
p {
    font-size: 16px;
    color: #333;
    padding-left: 24px;
    float: left;
}
.btn-operate {
    position: absolute;
    right: 24px;
button {
    background-color: #5a8ff5;
    opacity: .8;
    color: #fff;
    border: none;
    width: 90px;
    height: 32px;
    border-radius: 4px;
    margin-left: 16px;
    outline: none;
}
button:hover {
    opacity: 1;
}
}
}

// 搜索条件样式 --刘林强
   .condition-form {
       padding: 20px 0;
.el-form-item__label {
    padding: 0 10px 0 0;
    font-size: 14px;
}
&.padding_15 {
.el-form-item__label {
    padding: 0 15px 0 0;
}
}
.fixed-width {
    width: 16%;
    max-width: 300px;
    float: left;
    box-sizing: border-box;
} // .el-input .el-input__inner {
     //     padding-right:5px;
     // }
// // .el-date-editor .el-input__inner {
      // //     padding: 0 0 0 30px;
      // // }
.line {
    height: 2px;
    background-color: #F3F5F8
}
.el-date-editor--daterange.el-input__inner,
.el-date-editor--datetimerange.el-input__inner {
    width: 100%;
} // .el-range-editor.el-input__inner {
     //     padding: 3px 0px;
     // }
.form-btns {
    padding-left: 20px;
.el-button {
    padding: 5px 10px
}
.fixed-width {
    width: 20%;
    max-width: 300px;
    float: left;
    box-sizing: border-box;
}
}
.el-select .el-input {
    width: 100%;
}
.el-select {
    width: 100%;
}
.el-input {
    width: 100%!important
}
}
// 号码管理头部
   .condition-form1 {
       padding: 20px 0;
       height: 30px;
.el-form-item__label {
    padding: 0 10px 0 0;
    font-size: 14px;
}
&.padding_15 {
.el-form-item__label {
    padding: 0 15px 0 0;
}
}
.fixed-width {
    width: 20%;
    max-width: 200px;
    float: left;
    box-sizing: border-box;
}
.line {
    height: 2px;
    background-color: #F3F5F8
}
.el-date-editor--daterange.el-input__inner,
.el-date-editor--datetimerange.el-input__inner {
    width: 100%;
}
.form-btns {
    padding-left: 20px;
.el-button {
    padding: 5px 10px
}
.fixed-width {
    width: 20%;
    max-width: 300px;
    float: left;
    box-sizing: border-box;
}
}
.el-select .el-input {
    width: 100%;
}
.el-select {
    width: 100%;
}
.el-input {
    width: 100%!important
}
}
// 号码管理头部
   .el-menu {
       padding-bottom: -10px;
   }
// 模块左右布局 --刘林强
   .md {
       overflow: hidden; // margin-bottom: 20px;
.md-left {
    float: left;
}
.md-right {
    float: right;
}
}

// 布局样式 --刘林强
   .content-body {
       font-size: 14px;
       overflow: hidden;
.bd-title {
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    font-size: 18px;
    padding: 0 24px;
}
.bd-top {
    height: 48px;
    line-height: 48px;
    padding: 0 24px;
h5 {
    line-height: 48px;
    display: inline-block;
    vertical-align: top;
    color: #333333;
    font-size: 16px;
a {
    cursor: pointer;
    color: #666666;
}
;
a+a {
    margin-left: -9px;
}
span {
    color: #333333;
    margin-left: -9px;
}
}
}
.bd-main {
    padding: 10px 24px; // height: 500px;
    overflow: hidden;
    min-height: 600px;
.el-table {
    width: 100%;
    border: 1px solid #EBEEF5;
}
}
.bd-line {
    height: 3px;
    width: 100%;
    background: #F3F5F8;
}
}

// 头部下拉框
   .el-menu--horizontal>.el-submenu .el-submenu__title,
   .el-menu--horizontal>.el-submenu.is-active .el-submenu__title {
       height: 40px !important;
       line-height: 50px;
       border: none !important;
&:hover {
     border: none;
 }
}

.el-menu--horizontal .el-submenu>.el-menu {
    top: 50px;
}

li .el-menu-item {
    padding-left: 45px !important
}

// 表格字体大小
   .el-table {
       font-size: 13px !important;
   }

.el-button--text {
    color: rgba(90, 143, 245, 1);
}

.importRepay .el-upload {
    width: 250px !important;
}

// 步骤条
// 步骤
   .steps {
.el-step__head,
.el-step__head.is-process {
    height: 48px;
    line-height: 48px;
.el-step__icon {
    width: 48px;
    height: 48px;
    border: 1px solid rgb(151, 151, 151);
    line-height: 48px;
    border-radius: 48px;
.el-step__icon-inner {
    width: 38px;
    height: 38px;
    line-height: 36px;
    background: rgb(204, 204, 204);
    border-radius: 38px;
    color: #ffffff;
    font-size: 26px;
}
}
}
.el-step__head.is-finish {
&:not(:last-child) .el-step__icon {
.el-step__icon-inner {
    background: #5A8FF5;
    color: #ffffff;
}
}
&:last-child .el-step__icon {
.el-step__icon-inner {
    background: rgba(139, 176, 248, 1);
    color: #ffffff
}
}
}
.el-step__title,
.el-step__title.is-process {
    color: rgb(204, 204, 204);
    font-size: 14px;
    line-height: 40px;
}
.el-step__title.is-finish {
    color: #303133;
}
.el-step.is-horizontal .el-step__line {
    top: 20px;
    margin: 0 50px 0 50px !important;
}
.el-step__title.is-success {
    color: rgb(51, 51, 51)
}
}

// 输入框，下拉框220样式
   .input_1 {
.el-select {
    width: auto;
}
.el-input--small .el-input__inner {
    width: 220px;
    height: 28px;
    line-height: 28px;
    border-radius: 4px;
    border: 1px solid rgba(208, 208, 208, 1);
    font-size: 14px;
}
.inner_width .el-input__inner {
    width: 56px;
    margin-left: 10px;
}
.el-form-item__label {
    font-size: 14px;
    line-height: 25px;
    color: #333333;
}
.el-form-item__content {
    font-size: 14px;
    color: #606266
}
.el-card {
    width: 348px;
    background: #f8fbff;
    min-height: 160px;
    border-radius: 4px;
i {
    cursor: pointer;
}
.el-input {
    width: auto;
}
.el-input--small .el-input__inner {
    border: 1px #cccccc solid !important;
    padding: 0 0 0 10px;
    color: #999999;
}
.el-form-item__error {
    padding-top: 0;
}
}
}

// tq 应该要设置类名
   .commonForm,
   .commonForm2 {
.el-input {
    width: 220px;
}
.prepend .el-input__inner {
    width: 220px;
}
.tips {
    font-size: 12px;
    color: #999999;
    display: block;
    text-align: center
}
textarea {
    width: 220px;
}
.t-span {
    font-size: 14px;
    color: rgba(90, 143, 245, 1);
    padding: 0 9px;
}
.el-radio__input.is-disabled+span.el-radio__label {
    color: #333;
}
.timepicker {
    width: 110px;
}
}

.settingForm {
.el-tabs__nav {
    width: 432px;
    margin-left: 104px;
}
.el-tabs__header {
    display: flex;
    justify-content: space-around;
}
.el-tabs__content {
    width: 560px;
    margin-left: 40px;
}
.el-tabs__item {
// width: 150px;
    border-right: 2px solid #d8d8d8;
    height: 30px;
    line-height: 20px;
// padding: 0 43px;
}
.el-tabs__active-bar {
    width: 53px !important;
}
#tab-third {
    border: none;
}
.el-tabs__nav-wrap::after {
    width: 0;
}
.el-checkbox {
    width: 130px;
}
.el-checkbox+.el-checkbox {
    margin-left: 0;
}
}

// 输入框下拉170px
   .input_2 {
.el-input {
    width: 286px;
}
.longer_width .el-input--small .el-input__inner {
    width: 286px;
}
.el-input--small .el-input__inner {
    width: 120px;
    height: 28px;
    line-height: 28px;
    border-radius: 4px;
    border: 1px solid rgba(208, 208, 208, 1);
    font-size: 14px;
}
.el-form-item__label {
    font-size: 14px;
    line-height: 28px !important;
    color: #333333;
}
.el-form-item__content {
    font-size: 14px;
    color: #606266
}
}

.input_3 {
.el-input--small .el-input__inner {
    width: 83px;
    height: 21px;
    line-height: 21px;
    border-radius: 4px;
    border: 1px solid rgb(153, 153, 153);
    font-size: 14px;
    padding: 0 0 0 8px;
    color: #666666;
}
.setting {
.el-form-item__label {
    color: #333333;
}
.el-input__inner {
    border: 1px #cccccc solid;
}
}
.error .el-input__inner {
    border-color: #f56c6c
}
.el-form-item__label {
    font-size: 14px;
    color: #666666;
    padding-right: 8px;
}
.el-form-item__content {
    font-size: 14px;
    color: #606266;
}
.el-input.is-disabled .el-input__inner {
    background-color: #ffffff;
    cursor: auto;
}
}

// 新的话术编辑和详情样式
   .input_4 {
.el-input {
    width: 286px;
}
.long_width .el-input--small .el-input__inner {
    width: 286px;
}
.el-input--small .el-input__inner {
    width: 110px;
    height: 28px;
    line-height: 28px;
    border-radius: 4px;
    border: 1px solid rgba(208, 208, 208, 1);
    font-size: 14px;
}
.el-form-item__label {
    font-size: 14px;
    line-height: 28px !important;
    color: #333333;
}
.el-form-item__content {
    font-size: 14px;
    color: #606266
}
}

// 详情
   .disabled {
.el-form-item__content {
    color: #333333;
}
.el-form-item__label {
    color: #666666;
}
.unchoose .el-form-item__label {
    color: #999999;
}
.el-radio__input.is-disabled+span.el-radio__label {
    cursor: default
} // 禁用透明度
     .el-select .el-input.is-disabled .el-input__inner,
     .el-input.is-disabled .el-input__inner,
     .el-radio__input.is-disabled+span.el-radio__label,
     .el-radio__input.is-disabled .el-radio__inner,
     .el-radio__inner,
     .el-input.is-disabled .el-input__icon {
         background: none !important;
         color: #333333 !important;
         cursor: default !important;
         border-color: #d0d0d0;
     }
}

// 编辑
   .edit {
// 禁用透明度
   .el-select .el-input.is-disabled .el-input__inner,
   .el-input.is-disabled .el-input__inner,
   .el-radio__input.is-disabled+span.el-radio__label,
   .el-radio__input.is-disabled .el-radio__inner,
   .el-radio__inner,
   .el-input.is-disabled .el-input__icon {
   // background: none !important;
       color: #999999 !important;
       border-color: #999999;
   }
}

.el-col {
    display: inline-block;
    font-size: 16px;
}

.opacity_50 {
    opacity: 0.8;
}

// 除去数字输入框后面默人的加减符号
   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
       -webkit-appearance: none !important;
   }

input[type="number"] {
    -moz-appearance: textfield;
}

// 未知居中
   .center {
       text-align: center;
   }

// 文字居右
   .right {
       text-align: right;
   }

// 路由样式规划
   .el-menu-item-group__title {
       padding: 0 !important
   }

.el-menu li:not(.headerbox li) {
    width: 200px !important;
    overflow: hidden;
}

.el-submenu .el-menu-item,
.el-submenu .el-submenu__title:not(.headerbox .el-submenu__title) {
    width: 200px !important;
}

.sidebar-nav .el-submenu__title,
.sidebar-nav .meui-item-s {
    width: 200px !important;
}

.headerbox .el-menu--horizontal>.el-submenu .el-submenu__title {
    padding: 0 2px;
    line-height: 55px;
}

// 路由动画
// .el-menu-item:hover {
//     &>.route-icon {
        //         transform: rotate(60deg);
        //         transition: transform 1s linear;
        //     }
// }
// .el-menu .el-submenu:hover {
//     &>div>.route-icon {
        //         transform: rotate(60deg);
        //         transition: transform 1s linear;
        //     }
// }
.el-table {
th.is-leaf {
    background: #f8f8f8!important;
}
.el-table__header-wrapper {
    background: #f8f8f8 !important;
}
td {
    padding: 0 !important;
.cell {
    line-height: 40px !important;
    padding: 0 !important;
    overflow: hidden;
    font-size: 13px !important;
.el-button--text {
    padding: 0;
    font-size: 13px;
}
}
}
}

// 原生文件上传样式--by liulinqiang
   .a-upload {
       margin-top: 2px;
       padding: 0px 10px;
       height: 26px;
       font-size: 12px;
       line-height: 26px;
       position: relative;
       cursor: pointer;
       color: #fff;
       background: rgba(90, 143, 245, 1);
       background: rgba(90, 143, 245, 1);
       border-radius: 4px;
       overflow: hidden;
       display: inline-block;
       *display: inline;
       *zoom: 1
   }

.a-upload input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    background: #3b7cf8;
    border-color: #3b7cf8;
}

#fileName li {
    color: #606266;
    display: block;
    margin-right: 40px;
    overflow: hidden;
    padding-left: 4px;
    text-overflow: ellipsis;
    transition: color .3s;
    white-space: nowrap;
    min-width: 200px;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

// dialog footer
   .el-dialog__footer {
       margin-top: 10px;
       padding: 0 px;
   }

.el-dialog--center .el-dialog__body {
    padding: 25px 0 0 0 !important;
}

// 输入框后缀
   .el-form .el-input-group__append,
   .el-form .el-input-group__prepend {
       padding: 0 10px;
       background: none;
       border: none;
   }

.ai-collection-dialog .el-select,
.ai-collection-dialog .el-input {
    width: 120px;
    height: 28px;
    line-height: 28px;
.el-input__inner {
    line-height: 28px;
    height: 28px;
}
.el-input__icon {
    line-height: 28px;
}
}

.el-menu--horizontal {
    border: none !important;
}

.el-menu-item.is-active {
    background: #374676 !important;
    color: #ffffff !important;
}

.createBatch {
.el-input .el-input__inner {
    border-radius: 2px!important;
}
.el-input.is-disabled .el-input__inner {
    background: none;
    cursor: auto;
    border-radius: 2px;
}
}

.upload-demo .el-upload-list {
    display: none;
}

.el-checkbox .el-checkbox__inner {
    border-color: #cccccc;
}

.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
    background-color: #ccc!important;
    border-color: #ccc!important;
    color: #ffffff!important;
    cursor: default;
&::after {
     border-color: #ffffff!important;
 }
}

.customer_input .long_label .el-form-item__label {
    font-size: 12px;
}

.customer_input .el-form-item__label {
    color: #333;
}

.userForm .el-form-item.is-required .el-form-item__label:before {
    content: '';
    margin-right: 4px;
}

.customer_input .el-form-item.is-required .el-form-item__label:before {
    content: '';
    margin-right: 4px;
}

.resetForm .el-form-item.is-required .el-form-item__label:before {
    content: '';
    margin-right: 4px;
}

.commonForm .el-form-item.is-required .el-form-item__label:before {
    content: '';
    margin-right: 4px;
}

.commonForm .el-form-item__label {
    color: #333;
}

.commonForm2 .el-form-item__label {
    color: #666;
}

.userForm .el-form-item__label {
    color: #333;
}

.customer_input .el-input--small .el-input__inner {
    height: 28px !important;
    line-height: 28px;
    padding-right: 30px;
}

.customer_input {
.pointer {
.el-input--small .el-input__inner {
    cursor: pointer;
}
}
}

.roleForm,
.menuForm,
.userForm {
.el-input {
    width: 220px;
}
.el-tree {
    position: relative;
    left: 0;
    top: 10px;
    height: 200px;
    border: 1px solid #d8d8d8;
    margin-bottom: 50px;
}
}

// 提交成功弹窗样式
   .el-message-box {
       width: 450px;
   // height: 166px;
       background: rgba(255, 255, 255, 1);
       border-radius: 8px;
   }

.el-message-box__message {
    text-align: center;
    font-size: 22px;
}

.el-message-box__btns {
    text-align: center !important;
    padding: 44px 0 0 0!important;
}

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background: #ffffff;
}

::-webkit-scrollbar-track-piece {
    background: rgba(216, 216, 216, 0.6);
    height: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(170, 170, 170, 1);
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
    background: rgba(170, 170, 170, 1);
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.el-form-item.is-required .el-form-item__label:before {
    content: ''!important;
}

.noChoose .el-form-item__label::after {
    content: '（选填）：';
    color: #999999;
&:last-of-type {
     color: #666666;
 }
}

body .el-table th.gutter {
    display: table-cell!important;
    font-size: 13px;
}

.el-table {
    -webkit-border-horizontal-spacing: 0px!important;
    -webkit-border-vertical-spacing: 0px!important;
}

.collectTimes .el-input.is-disabled .el-input__inner {
    background: none;
}

.el-form .el-icon-question:before {
    color: red;
}

.customer-form {
.el-checkbox {
    margin-left: 0;
    width: 100px;
    margin-right: 142px;
    margin-bottom: 16px;
}
// 之所以固定右边宽度是因为文字长短不一导致后面的指标会缩进
   .el-checkbox-group {
       width: 1000px;
   }
}

// 上传附件
   .a-upload {
       position: absolute;
       width: 70px;
       left: 240px;
   }

.el-tree {
// position: relative;
// cursor: default;
// background: #fff;
    color: #606266;
    position: absolute;
    width: 250px;
// border-radius: 5px;
    height: 350px;
    overflow: scroll;
    z-index: 100;
    top: -15px;
    left: -170px;
}

.el-table {
.el-table__fixed-right-patch {
    background-color: #f8f8f8;
}
}

.phoneTabpane {
.el-tabs__active-bar {
    width: 132px !important;
}
.el-tabs__item {
    padding: 0px 25px;
}
.el-tabs--top .el-tabs__item.is-top:nth-child(2) {
// padding-left: 25px;
    margin-left: 30px;
}
}

.resourceTree {
.el-tree {
    width: 300px;
    overflow-x: hidden;
    top: 20px;
    left: 50px;
    border: 1px solid #ccc;
    height: 60vh;
    position: relative;
}
}

// .el-table__body .el-radio.is-focus .el-radio__inner {
   //     border-color: #409eff;
   //     background: #409eff;
   // }
